<ion-view view-title="Hays Engineering Works" hide-back-button="false">

<ion-content class="has-header" padding="true">
<div class="row">
   <div class="col text-center">
     <img src="img/Hays.png">
</div></div>
<div class="item item-body">
	<ion-list class="text-center">
          <ion-item class="fontCol" style="top: 30px;">
            <i class = "icon icon ion-ios-analytics"></i> Submit Media For Quote
            </ion-item>
            <ion-item class="fontCol" style="top: 30px;">
            <i class = "icon icon ion-android-compass"></i>  Request For Quate
            </ion-item>
            <ion-item class="fontCol" style="top: 30px;">
            <i class = "icon icon ion-android-search"></i>  Browse or Search our Catalog
            </ion-item>
            <ion-item class="fontCol" style="top: 30px;">
           <i class = "icon icon ion-android-folder"></i>  View
            </ion-item>
            
             <ion-item class="fontCol" style="top: 30px;">
           <i class="icon ion-android-mail"></i>Email Us
            </ion-item>
            <ion-item class="fontCol" style="top: 30px;">
            <i class="icon ion-android-phone-portrait"></i>Call Customer Service
            </ion-item>
            <ion-item class="fontCol" style="top: 30px;">
            <i class="icon ion-android-settings"></i>Settings
            </ion-item>
            <ion-item class="fontCol" style="top: 30px;">
           <i class="icon ion-log-out"></i>Exit
            </ion-item>
          </ion-list>

	<br><br>

	
</div>
<div class="row">
<div class="col text-center">
<h5 class="fontCol">WWW.MooreIndHardware.com | (800)-543-1677</h5>
<h6 class="fontCol">Copyright 2016 Moore Industrial Hardware</h6>

</div>

</div>
</ion-content> 

</ion-view>

<style>
.icon {
   font-size: 20px;
   padding-right:7px;
}
</style>
