<ion-view view-title="Hays Engineering Works" hide-back-button="true">
<ion-content class="has-header" padding="true">
<div class="row">
   <div class="col text-center">
   <img src="img/Hays.png">
</div></div>
  <button class="button button-block button-positive">
 Take Picture
</button> 
 <button class="button button-block button-positive">
 Start a Video
</button>
<div class="item item-body">
  <img src="img/Moore_Industries.jpg">
  </div>
  <div class="space"></div>
  <div class="item item-body">
       <label class="item item-input ">
	     	<input placeholder="Subject" type="text">
	   </label>
      <div class="space"></div>
	    <label class="item item-input ">
	     	<input  placeholder="Notes..."type="text">
	   </label>
	   
	   <div class="space"></div>
	    <label class="item item-input ">
	     	<input  placeholder="Quantity Required..."type="text">
	   </label>
  </div>
  <button class="button button-block button-positive">
 Submit RFQ
</button>
  <div class="row">
<div class="col text-center">
<h5 class="fontCol">WWW.MooreIndHardware.com | (800)-543-1677</h5>
<h6 class="fontCol">Copyright 2016 Moore Industrial Hardware</h6>

</div>

</div>
</ion-content> </ion-view>